html {
    font-size: 100%;
}


body {
    font-family: "Krub", Helvetica, Arial, sans-serif;
    background: #fff;
    color: #333;
    margin-right: 0;
    padding: 3em;
}
h1 {
    font-family: "Crete Round", Cambria, serif;
}





@media screen and (max-width: 1000px) {
    #container {
      width: 100%;
    }
}
@media screen and (max-width: 750px) {
    body {
      margin: 1rem;
    }
}
