html {
    font-size: 100%;
}

body {
    font-family: "Krub", Helvetica, Arial, sans-serif;
    background: #fff;
    color: #333;
    margin-right: 0;
    padding: 3em;
}
h1 {
    font-family: "Crete Round", Cambria, serif;
}

byline {
    font-size: .8em;
}


@media screen and (max-width: 750px) {
    body {
      margin: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .tooltip {
    display: none;
    }
    html {
        font-size: 80%;
    }

}
